In [ ]:
import pandas as pd

In [17]:
df = pd.read_csv("../data/data.csv")

In [18]:
df.head(5)

,Source Name,Author,Title,Description,Content,URL
0,The Wall Street Journal,Joanna Stern,He Stole Hundreds of iPhones and Looted People...,A convicted iPhone thief explains how a vulner...,https://www.wsj.com/tech/personal-tech/he-stol...,NaN
1,NDTV News,NaN,21 Cases Of New Covid Variant JN.1 In India Co...,India has so far reported 21 cases of the new ...,https://www.ndtv.com/india-news/21-cases-of-ne...,NaN
2,Hindustan Times,Affiliate Desk,10 best Samsung 6.5 kg top load washing machin...,We compare the Samsung 6.5 kg top load washing...,https://www.hindustantimes.com/technology/10-b...,NaN
3,[Removed],NaN,[Removed],[Removed],https://removed.com,NaN
4,Livelaw.in,Awstika Das,CJI DY Chandrachud Flagged Anomalies In GST Ap...,Union Finance Minister Nirmala Sitharaman on T...,https://www.livelaw.in/top-stories/chief-justi...,NaN

In [19]:
df.count()

Source Name    20
Author         15
Title          20
Description    20
Content        20
URL             0
dtype: int64

In [20]:
# Cleaning the data
df = df[df['Title'] != '[Removed]']

df = df[df['URL'] != '1970-01-01T00:00:00Z']

df.to_csv('../data/cleaned_data.csv', index=False)

#remove the ul and

In [21]:
df = pd.read_csv("../data/cleaned_data.csv")      
df.head(5)

,Source Name,Author,Title,Description,Content,URL
0,The Wall Street Journal,Joanna Stern,He Stole Hundreds of iPhones and Looted People...,A convicted iPhone thief explains how a vulner...,https://www.wsj.com/tech/personal-tech/he-stol...,NaN
1,NDTV News,NaN,21 Cases Of New Covid Variant JN.1 In India Co...,India has so far reported 21 cases of the new ...,https://www.ndtv.com/india-news/21-cases-of-ne...,NaN
2,Hindustan Times,Affiliate Desk,10 best Samsung 6.5 kg top load washing machin...,We compare the Samsung 6.5 kg top load washing...,https://www.hindustantimes.com/technology/10-b...,NaN
3,Livelaw.in,Awstika Das,CJI DY Chandrachud Flagged Anomalies In GST Ap...,Union Finance Minister Nirmala Sitharaman on T...,https://www.livelaw.in/top-stories/chief-justi...,NaN
4,Technology Networks,Technology Networks,Genetics of Host Plants Determine What Microor...,"Chemical signals from host plants, determined ...",https://www.technologynetworks.com/genomics/ne...,NaN

In [22]:
df.count()

Source Name    19
Author         15
Title          19
Description    19
Content        19
URL             0
dtype: int64